/* line 1, ../../assets/stylesheets/app.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 17, ../../assets/stylesheets/app.scss */
.margin-none {
  margin: 0 !important;
}

/* line 21, ../../assets/stylesheets/app.scss */
.padding-top-none {
  padding-top: 0 !important;
}

/* line 25, ../../assets/stylesheets/app.scss */
.padding-top-bottom-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* line 29, ../../assets/stylesheets/app.scss */
.side-nav > a {
  height: auto;
}

/* line 34, ../../assets/stylesheets/app.scss */
span.badge.label {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 2px;
}

/* line 46, ../../assets/stylesheets/app.scss */
.navbar-fixed nav ul li.collection-header > h5 {
  color: rgba(0, 0, 0, 0.87);
}

/* line 54, ../../assets/stylesheets/app.scss */
.main .modal {
  max-height: 70%;
  width: 40%;
}
/* line 57, ../../assets/stylesheets/app.scss */
.main .modal h4 {
  font-size: 1.5em;
  text-align: center;
}
/* line 61, ../../assets/stylesheets/app.scss */
.main .modal p {
  font-size: 2em;
  margin: 0;
}
/* line 68, ../../assets/stylesheets/app.scss */
.main .hour-schedule-element .hour-panel-element .panel-title {
  display: inline-block;
  width: 48%;
}
/* line 72, ../../assets/stylesheets/app.scss */
.main .hour-schedule-element .hour-panel-element .panel-search {
  display: inline-block;
  width: 48%;
}
/* line 75, ../../assets/stylesheets/app.scss */
.main .hour-schedule-element .hour-panel-element .panel-search nav {
  height: 40px;
  line-height: 40px;
}
/* line 78, ../../assets/stylesheets/app.scss */
.main .hour-schedule-element .hour-panel-element .panel-search nav .nav-wrapper i, .main .hour-schedule-element .hour-panel-element .panel-search nav i {
  height: inherit;
  line-height: inherit;
  font-size: 1.5rem;
}
/* line 83, ../../assets/stylesheets/app.scss */
.main .hour-schedule-element .hour-panel-element .panel-search nav .input-field input[type=search] {
  color: #3C3838;
}
/* line 89, ../../assets/stylesheets/app.scss */
.main .hour-schedule-element .header-event {
  padding-left: 20px;
}
/* line 92, ../../assets/stylesheets/app.scss */
.main .hour-schedule-element .schedule-header {
  display: block;
}
/* line 94, ../../assets/stylesheets/app.scss */
.main .hour-schedule-element .schedule-header .time {
  float: left;
  white-space: nowrap;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 25%;
}
/* line 102, ../../assets/stylesheets/app.scss */
.main .hour-schedule-element .schedule-header .event {
  margin-left: 10px;
  float: left;
  white-space: nowrap;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30%;
}
/* line 111, ../../assets/stylesheets/app.scss */
.main .hour-schedule-element .schedule-header .room {
  margin-left: 10px;
  float: left;
  white-space: nowrap;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 25%;
}
/* line 122, ../../assets/stylesheets/app.scss */
.main .schedule-room-name {
  font-size: 1.5em;
}
/* line 125, ../../assets/stylesheets/app.scss */
.main .time-picker {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 131, ../../assets/stylesheets/app.scss */
.main .time-picker .select-minute p {
  padding-left: 0;
  padding-right: 0;
}
/* line 135, ../../assets/stylesheets/app.scss */
.main .time-picker .icon-range {
  padding: 1.5rem 1rem;
  font-size: 2em;
}
