<dom-module id="booking-element">
    <template>
        <more-routing-config driver="hash"></more-routing-config>
        <more-route name="root"  path="/"></more-route>
        <more-route name="room" path="/room/:roomId">
        </more-route>

        <navigation-element></navigation-element>

        <sidebar-element sidebar-id="sidebar-mobile" is-mobile="1" rooms="{{ rooms }}" current-room="{{ currentRoom }}" schedules="[[ schedules ]]"></sidebar-element>

        <div class="main">
            <div class="row">
                <div class="col s3">
                    <!-- Grey navigation panel -->
                    <sidebar-element sidebar-id="sidebar-desktop" is-mobile="0" rooms="{{ rooms }}" current-room="{{ currentRoom }}" schedules="[[ schedules ]]"></sidebar-element>
                </div>

                <div class="col s12 m9">
                    <hour-schedule-element rooms="{{ rooms }}" current-room="{{ currentRoom }}" schedules="{{ schedules }}"></hour-schedule-element>
                </div>
            </div>
        </div>

    </template>
</dom-module>

<script>
Polymer({
    is: "booking-element",
    ready: function() {
    }
});
</script>